.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 100%;

}


.card-cont{
  margin: 35px auto ;
  width: 60%;
}
